

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 500px;
    height: 400px;
    border-radius: 80px;
    background-color: pink;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.info{
    color: antiquewhite;
    margin: auto;
    border-radius: 30px;
}
.name{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
}
.password{
    padding-bottom: 10px;
    padding-top: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    
}
.n1{
    border-radius: 30px;
    width: auto;
    height: 30px;
}
.pass{
    border-radius: 30px;
    width: auto;
    height: 30px;
    padding-bottom: 10px;
}
.passw{
    border-radius: 30px;
    width: auto;
    height: 30px;
}

